@import "tailwindcss";

:root {
  --color-green-50: #fafaf3;
  --color-green-100: #eeefd8;
  --color-green-200: #dcdfb0;
  --color-green-300: #c2c880;
  --color-green-400: #a1ab56;
  --color-green-500: #84903c;
  --color-green-600: #68732e;
  --color-green-700: #545d28;
  --color-green-800: #434b24;
  --color-green-900: #3a3f22;
  --color-green-950: #0d0f06;
}
